<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AutorControl</servlet-name>
        <servlet-class>Control.AutorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstudianteControl</servlet-name>
        <servlet-class>Control.EstudianteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibroControl</servlet-name>
        <servlet-class>Control.LibroControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaControl</servlet-name>
        <servlet-class>Control.MateriaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestamoControl</servlet-name>
        <servlet-class>Control.PrestamoControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorControl</servlet-name>
        <url-pattern>/AutorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstudianteControl</servlet-name>
        <url-pattern>/EstudianteControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibroControl</servlet-name>
        <url-pattern>/LibroControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaControl</servlet-name>
        <url-pattern>/MateriaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestamoControl</servlet-name>
        <url-pattern>/PrestamoControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Presentacion/Principal.jsp</welcome-file>
    </welcome-file-list>
</web-app>
